<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Clickinn</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
	<ion-grid>
    <ion-row>
    	<ion-col size-xs="0" size-lg="2">
        </ion-col>
      <ion-col size-xs="12" size-lg="8">

        <ion-slides loop="false" pager="true" [options]="slideOptsOne" #slideWithNav
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide style="height: 100%" *ngFor="let s of sliderOne.slidesItems">
            <img src="{{s.id}}" class="slide-img">
            <!-- <div class="slide-text">Slide id </div> -->
          </ion-slide>
        </ion-slides>
        <ion-grid>
        	<ion-row>
        		<ion-col size-xs="12" size-lg="8">
			        <ion-card>
			        	<ion-card-header>
			    			<ion-card-title color="tertiary">R3000</ion-card-title>
			    			<ion-card-title>Single Room to Rent in Brixton</ion-card-title>
			    			<ion-card-subtitle>Brixton, Johannesburg</ion-card-subtitle>
			  			</ion-card-header>
			  			<ion-grid>
			  				<ion-row>
			  					<ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
						  			<ion-grid>
						  				<ion-row>
						  					<ion-col class="ion-text-center">
							  					<ion-icon class="my-icons" name="wifi-outline"></ion-icon>
							  				</ion-col>
							  				<ion-col class="ion-text-center">
							    				<ion-icon class="my-icons" name="barbell-outline"></ion-icon>
							    			</ion-col>
							    			<ion-col class="ion-text-center">
							    				<ion-icon class="my-icons" name="car-sport-outline"></ion-icon>
							    			</ion-col>
							    		</ion-row>
						  			</ion-grid>
						  		</ion-col>
						  		<ion-col size-xs="0" size-sm="0" size-md="6" size-lg="8">
						  			<ion-button [routerLink]="['/edit-listing']">
						  				Edit
						  				<ion-icon slot="end" name="pencil-outline"></ion-icon>
						  			</ion-button>
						  		</ion-col>
						  	</ion-row>
						  </ion-grid>
			        </ion-card>
			    </ion-col>
			    <ion-col size-xs="12" size-lg="2">
			    	<ion-button mode="ios">
			    		<ion-icon name="call-outline"></ion-icon>
			    		 Call
			    	</ion-button>
			    	<ion-button mode="ios">
			    		<ion-icon name="logo-whatsapp"></ion-icon>
			    		 WhatsApp
			    	</ion-button>
			    	<ion-button mode="ios">Map</ion-button>
			    	<ion-button mode="ios">Book Now</ion-button>
			    </ion-col>
			</ion-row>
		</ion-grid>
        <ion-card>
        	<ion-card-content>
			    <ion-text>
			    	<p>
			    	This will contain the written description of the room and property
					</p>
				</ion-text>
			</ion-card-content>
        </ion-card>
        <ion-card>
        	<ion-card-content>
			    <ion-text>
			    	<p>
			    	This will contain a list of all the amenities and property facts
					</p>
				</ion-text>
			</ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size-xs="0" size-lg="2">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
