<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img src="../../../assets/imgs/logo.png" height="80">
      <h1>Student Lifestyle</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-slides pager="true" [options]="slideOptsOne">
		<ion-slide>
			<img src="../../../assets/imgs/citiq1.png" style="position: fixed;top: 0" (click)="interested()">
			<!-- <ion-card class="ion-padding" style="background-color: rgba(0,0,0, 0.7);">
				<ion-card-header class="ion-text-center">
					<ion-buttons class="ion-text-center">
						<ion-button mode="ios" fill="clear" color="light">
							Student
						</ion-button>
						<ion-button mode="ios" fill="clear" color="light">
							Landlord
						</ion-button>
						<ion-button mode="ios" fill="clear" color="light">
							About Us
						</ion-button>
					</ion-buttons>
				</ion-card-header>
				<h1 color="light" class="ion-text-center">
					Have You Secured Your Accommodation For 2021 Yet?
				</h1>
			</ion-card> -->
		</ion-slide>
		<!-- <ion-slide class="bg3">
		</ion-slide>
		<ion-slide class="bg4">
		</ion-slide> -->
	</ion-slides>

</ion-content>
