.bg1{
	background: url('../../../assets/imgs/citiq1.png') no-repeat;
    background-size: cover;
}

.bg2{
	background: url('../../../assets/imgs/citiq2.png') no-repeat;
    background-size: cover;
}

.bg3{
	background: url('../../../assets/imgs/citiq3.png') no-repeat;
    background-size: cover;
}

.bg4{
	background: url('../../../assets/imgs/citiq4.png') no-repeat;
    background-size: cover;
}

ion-slides {
  height: 100%;
}