<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Clickinn</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="0" size-lg="2">
      </ion-col>
      <ion-col size-xs="12" size-lg="8">
      	<ion-grid>
      		<ion-row>
      			<ion-col size-xs="12" size-sm="6" size-md="4">
      				<ion-card [routerLink]="['/listing']">
          			<img src="../../../assets/imgs/SA_Landlords.jpg" 
          			style="max-height: 200px; position: relative; 
          			top: 0; left: 50%; transform: translateX(-50%);" />
          			<ion-card-header>
            				<ion-card-subtitle>Single room, R3000</ion-card-subtitle>
            				<ion-card-title>Melville, Jhb</ion-card-title>
          			</ion-card-header>
          			<ion-card-content>
            				Fully Furnished Room 5 mins walk to UJ APK
          			</ion-card-content>
        			</ion-card>
      			</ion-col>
      			<ion-col size-xs="12" size-sm="6" size-md="4">
      				<ion-card>
              			<img src="../../../assets/imgs/SA_Landlords.jpg" 
              			style="max-height: 200px; position: relative; 
              			top: 0; left: 50%; transform: translateX(-50%);" />
              			<ion-card-header>
                				<ion-card-subtitle>Single room, R3000</ion-card-subtitle>
                				<ion-card-title>Melville, Jhb</ion-card-title>
              			</ion-card-header>
              			<ion-card-content>
                				Fully Furnished Room 5 mins walk to UJ APK
              			</ion-card-content>
            			</ion-card>
      			</ion-col>
      			<ion-col size-xs="12" size-sm="6" size-md="4">
      				<ion-card>
              			<img src="../../../assets/imgs/SA_Landlords.jpg" 
              			style="max-height: 200px; position: relative; 
              			top: 0; left: 50%; transform: translateX(-50%);" />
              			<ion-card-header>
                				<ion-card-subtitle>Single room, R3000</ion-card-subtitle>
                				<ion-card-title>Melville, Jhb</ion-card-title>
              			</ion-card-header>
              			<ion-card-content>
                				Fully Furnished Room 5 mins walk to UJ APK
              			</ion-card-content>
            			</ion-card>
      			</ion-col>
      			<ion-col size-xs="12" size-sm="6" size-md="4">
      				<ion-card>
              			<img src="../../../assets/imgs/SA_Landlords.jpg" 
              			style="max-height: 200px; position: relative; 
              			top: 0; left: 50%; transform: translateX(-50%);" />
              			<ion-card-header>
                				<ion-card-subtitle>Single room, R3000</ion-card-subtitle>
                				<ion-card-title>Melville, Jhb</ion-card-title>
              			</ion-card-header>
              			<ion-card-content>
                				Fully Furnished Room 5 mins walk to UJ APK
              			</ion-card-content>
            			</ion-card>
      			</ion-col>
      		</ion-row>
      	</ion-grid>
      </ion-col>
      <ion-col size-xs="0" size-lg="2">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="0" size-sm="1" size-md="3" size-lg="4">
        </ion-col>
        <ion-col size-xs="12" size-sm="10" size-md="6" size-lg="4">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-button fill="clear" (click)="gotoHome()">
                  <ion-icon slot="icon-only" name="home-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button fill="clear" (click)="locationFilter()">
                  <ion-icon slot="icon-only" name="search-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button fill="clear" (click)="filters()">
                  <ion-icon slot="icon-only" name="options-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-col>
      <ion-col size-xs="0" size-sm="1" size-md="3" size-lg="4">
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>