<ion-content color="light" class="ion-padding">
	<h1 class="ion-text-center"><b>Search Results</b></h1>
	<ion-item lines="none" color="light">
		<p style="font-size: 1.4em" class="ion-text-wrap ion-padding">
			1000 rooms scanned in the area
		</p>
	</ion-item>
	<ion-item lines="none" color="light">
		<p style="font-size: 1.4em" class="ion-text-wrap ion-padding">
			100 matches found 
		</p>
	</ion-item>
	<div class="ion-text-center">
		<ion-button mode="ios" (click)="dismiss()" color="danger">Cancel</ion-button>
		<ion-button mode="ios" color="success"  (click)="continue()" >View Matches</ion-button>
	</div>
</ion-content>