<ion-header>
  <ion-toolbar>
    <ion-title>Clickinn</ion-title>
    <ion-buttons slot="end">
	    <ion-button color="tertiary" *ngIf="!julToDec" (click)="showJulyToDecember()" class="ion-margin">
			See July To Dec
			<ion-icon slot="end" name="play-forward-outline"></ion-icon>
		</ion-button>
		<ion-button color="tertiary" *ngIf="julToDec" (click)="showJanToJun()" class="ion-margin">
			<ion-icon slot="start" name="play-back-outline"></ion-icon>
			See Jan To June
		</ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid *ngIf="!julToDec">
		<ion-row>
			<ion-col>
				<ion-card color="danger">
					<ion-card-content>
						<p><b>Jan</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card color="danger">
					<ion-card-content>
						<p><b>Feb</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card color="warning">
					<ion-card-content>
						<p><b>Mar</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card color="warning">
					<ion-card-content>
						<p><b>Apr</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card color="primary">
					<ion-card-content>
						<p><b>May</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card>
					<ion-card-content>
						<p><b>Jun</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid *ngIf="julToDec">
		<ion-row>
			<ion-col>
				<ion-card>
					<ion-card-content>
						<p><b>Jul</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card color="primary">
					<ion-card-content>
						<p><b>Aug</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card color="success">
					<ion-card-content>
						<p><b>Sep</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card color="success">
					<ion-card-content>
						<p><b>Oct</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card color="warning">
					<ion-card-content>
						<p><b>Nov</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card color="danger">
					<ion-card-content>
						<p><b>Dec</b></p>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<ion-chip>
				  			<ion-label>73_Caroline_1A</ion-label>
						</ion-chip>
						<ion-chip color="tertiary">
				  			<ion-label>R0.00</ion-label>
						</ion-chip>
						<ion-buttons>
							<ion-button fill="clear">
					            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
					        </ion-button>
					        <ion-button fill="clear">
					            <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
					        </ion-button>
					    </ion-buttons>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
