<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Clickinn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
	<ion-grid>
		<ion-row>
			<ion-col size-xs="0" size-md="3">
			</ion-col>
			<ion-col size-xs="12" size-md="6">
				<ion-chip color="warning" *ngIf="agentMode">
				  <ion-icon name="person-circle-outline"></ion-icon>
				  <ion-label>Agent Mode</ion-label>
				</ion-chip>
			
				<ion-card *ngIf="pageActive == 1">
					<h1 class="ion-text-center"><b>Start Uploading The Rooms On Your Property</b></h1>
					<ion-item lines="none">
						<ion-icon color="danger" class="my-icon" name="location-outline"></ion-icon>
						<ion-label style="font-size: 1.4em" class="ion-text-wrap">
							But before we get to uploading the rooms, first start by telling us where your property is located. 
						</ion-label>
					</ion-item>
					<ion-card-content>
						<ion-grid>
							<ion-row>
								<ion-col>
									<ion-item lines="none" color="light">
										<ion-label position="stacked">
											Province
										</ion-label>
									    <ion-select [(ngModel)]="property?.address.province" okText="Okay" cancelText="Dismiss">
									      <ion-select-option value="GP">GP</ion-select-option>
									      <ion-select-option value="KZN">KZN</ion-select-option>
									      <ion-select-option value="L">L</ion-select-option>
									      <ion-select-option value="MP">MP</ion-select-option>
									      <ion-select-option value="NW">NW</ion-select-option>
									      <ion-select-option value="WC">WC</ion-select-option>
									      <ion-select-option value="EC">EC</ion-select-option>
									      <ion-select-option value="NC">NC</ion-select-option>
									      <ion-select-option value="FS">FS</ion-select-option>
									    </ion-select>
									</ion-item>
								</ion-col>
								<ion-col>
									<ion-item lines="none" color="light">
										<ion-label position="stacked">
											City
										</ion-label>
									    <ion-select [(ngModel)]="property?.address.city" okText="Okay" cancelText="Dismiss">
									      <ion-select-option value="single">Pretoria</ion-select-option>
									      <ion-select-option value="ensuite">Johannesburg</ion-select-option>
									      <ion-select-option value="bachelor">Soweto</ion-select-option>
									    </ion-select>
									</ion-item>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>
									<ion-item lines="none" color="light">
										<ion-label position="stacked">
											Neighbourhood
										</ion-label>
									    <ion-select [(ngModel)]="property?.address.neighbourhood" okText="Okay" cancelText="Dismiss">
									      <ion-select-option value="single">Auckland Park</ion-select-option>
									      <ion-select-option value="ensuite">Melville</ion-select-option>
									      <ion-select-option value="bachelor">Brixton</ion-select-option>
									      <ion-select-option value="sharing">Westdene</ion-select-option>
									      <ion-select-option value="sharing">Hursthill</ion-select-option>
									      <ion-select-option value="sharing">Rosmoore</ion-select-option>
									      <ion-select-option value="sharing">Cottesloe</ion-select-option>
									    </ion-select>
									</ion-item>
								</ion-col>
								<ion-col>
									<ion-item lines="none" color="light">
										<ion-label position="stacked">
											House Number and Street
										</ion-label>
										<ion-input [(ngModel)]="house_number_and_street" type="text" placeholder="e.g. 73 Caroline Street"></ion-input>
									</ion-item>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>
									<ion-item lines="none" color="light">
										<ion-label position="stacked">
											<ion-icon class="my-icons" slot="start" name="walk-outline"></ion-icon>
											Nearby Places (5 min walk)
										</ion-label>
									    <ion-select [(ngModel)]="nearbys" multiple="true" okText="Okay" cancelText="Dismiss">
									      <ion-select-option value="single">UJ Kingsway</ion-select-option>
									      <ion-select-option value="ensuite">UJ Bunting</ion-select-option>
									      <ion-select-option value="bachelor">Campus Square</ion-select-option>
									      <ion-select-option value="sharing">MacDonalds Melvile</ion-select-option>
									      <ion-select-option value="sharing">Brixton Mall</ion-select-option>
									      <ion-select-option value="sharing">Shosholoza</ion-select-option>
									      <ion-select-option value="sharing">Clickinn HQ</ion-select-option>
									    </ion-select>
									</ion-item>
								</ion-col>
							</ion-row>
						</ion-grid>
						<div class="ion-text-center" style="margin-top: 50px; margin-bottom: 50px;">
							<ion-button (click)="nextPage()">Next</ion-button>
						</div>
					</ion-card-content>
				</ion-card>
				<ion-card *ngIf="pageActive == 2">
					<h1 class="ion-text-center"><b>Tell Us About Your Rooms</b></h1>
					<ion-item lines="none">
						<ion-icon color="medium" class="my-icon" name="business-outline"></ion-icon>
						<ion-label style="font-size: 1.4em" class="ion-text-wrap ion-padding">
							Indicate how many rooms of each type you have on your property and whether they're furnished
						</ion-label>
					</ion-item>
					<ion-grid>
						<ion-row>
							<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										How Many Backrooms ?
									</ion-label>
									<ion-input type="number" [(ngModel)]="num_backrooms">
									</ion-input>
								</ion-item>
								<ion-item lines="none">
						            <ion-label>
						            	Fully Furnished
						            </ion-label>
						            <ion-checkbox [(ngModel)]="backroom.furnished" slot="start"></ion-checkbox>
						        </ion-item>
							</ion-col>
							<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										How Many Single Rooms ?
									</ion-label>
									<ion-input type="number" [(ngModel)]="num_singles" ></ion-input>
								</ion-item>
								<ion-item lines="none">
						            <ion-label>
						            	Fully Furnished
						            </ion-label>
						            <ion-checkbox [(ngModel)]="single.furnished" slot="start">
						            </ion-checkbox>
						        </ion-item>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										How many 2-Sharing Rooms ?
									</ion-label>
									<ion-input type="number" [(ngModel)]="num_two_sharings" >
									</ion-input>
								</ion-item>
								<ion-item lines="none">
						            <ion-label>
						            	Fully Furnished
						            </ion-label>
						            <ion-checkbox [(ngModel)]="two_sharing.furnished" slot="start"></ion-checkbox>
						        </ion-item>
							</ion-col>
							<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										How many 3-Sharing Rooms ?
									</ion-label>
									<ion-input type="number" [(ngModel)]="num_three_sharings">
									</ion-input>
								</ion-item>
								<ion-item lines="none">
						            <ion-label>
						            	Fully Furnished
						            </ion-label>
						            <ion-checkbox [(ngModel)]="three_sharing.furnished" slot="start"></ion-checkbox>
						        </ion-item>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										How many Ensuites ?
									</ion-label>
									<ion-input type="number" [(ngModel)]="num_ensuites" ></ion-input>
								</ion-item>
								<ion-item lines="none">
						            <ion-label>
						            	Fully Furnished
						            </ion-label>
						            <ion-checkbox [(ngModel)]="ensuite.furnished" slot="start"></ion-checkbox>
						        </ion-item>
							</ion-col>
							<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										How many Apartments ?
									</ion-label>
									<ion-input type="number" [(ngModel)]="num_apartments">
									</ion-input>
								</ion-item>
								<ion-item lines="none">
						            <ion-label>
						            	Fully Furnished
						            </ion-label>
						            <ion-checkbox [(ngModel)]="apartment.furnished" slot="start"></ion-checkbox>
						        </ion-item>
							</ion-col>
						</ion-row>
					</ion-grid>
					<div class="ion-text-center" style="margin-top: 50px; margin-bottom: 50px;">
						<ion-button (click)="prevPage()">Back</ion-button>
						<ion-button (click)="nextPage()">Next</ion-button>
					</div>
				</ion-card>
				<ion-card *ngIf="pageActive == 3">
					<h1 class="ion-text-center"><b>How Are Payments done ?</b></h1>
					<ion-item lines="none">
						<ion-label style="font-size: 1.4em" class="ion-text-wrap">
							Indicate whether your property is NSFAS acredited and the payment specifics of the rooms
						</ion-label>
					</ion-item>
					<ion-item lines="none">
			            <ion-label>NSFAS ACREDITED</ion-label>
			            <ion-checkbox slot="start" [(ngModel)]="property.accredited">
			            </ion-checkbox>
			        </ion-item>
			        <ion-grid>
			        	<ion-row>
			        		<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										<ion-text>BackRoom Monthly Rent</ion-text>
									</ion-label>
								  	<ion-input type="number" [(ngModel)]="backroom.rent">
								  	</ion-input>
								</ion-item>
							</ion-col>
							<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										<ion-text>Single Room Monthly Rent</ion-text>
									</ion-label>
								  	<ion-input type="number" [(ngModel)]="single.rent" ></ion-input>
								</ion-item>
							</ion-col>
						</ion-row>
						<ion-row>
			        		<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										<ion-text>2-Sharing Monthly Rent</ion-text>
									</ion-label>
								  	<ion-input type="number" [(ngModel)]="two_sharing.rent"></ion-input>
								</ion-item>
							</ion-col>
							<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										<ion-text>3-Sharing Monthly Rent</ion-text>
									</ion-label>
								  	<ion-input type="number" [(ngModel)]="three_sharing.rent">
								  	</ion-input>
								</ion-item>
							</ion-col>
						</ion-row>
						<ion-row>
			        		<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										<ion-text>Ensuite Monthly Rent</ion-text>
									</ion-label>
								  	<ion-input type="number" [(ngModel)]="ensuite.rent" >
								  	</ion-input>
								</ion-item>
							</ion-col>
							<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										<ion-text>Apartment Monthly Rent</ion-text>
									</ion-label>
								  	<ion-input type="number" [(ngModel)]="apartment.rent">
								  	</ion-input>
								</ion-item>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>
								<ion-item lines="none" color="light">
									<ion-label position="stacked">
										<ion-text>Deposit specifics</ion-text>
									</ion-label>
								    <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="property.deposit_specifics">
								    	<ion-select-option value="no deposit">
								    	 	No deposit
								    	</ion-select-option>
								      <ion-select-option value="fully refundable deposit">
								      		Fully-Refundable
								      </ion-select-option>
								      <ion-select-option value="partly-refundable deposit">
								      		Partly-Refundable
								      </ion-select-option>
								      <ion-select-option value="non-refunable deposit">
								      		Non-Refundable
								      </ion-select-option>
								    </ion-select>
								</ion-item>
							</ion-col>
						</ion-row>
					</ion-grid>
					<div class="ion-text-center" style="margin-top: 50px; margin-bottom: 50px;">
						<ion-button (click)="prevPage()">Back</ion-button>
						<ion-button (click)="nextPage()">Next</ion-button>
					</div>
				</ion-card>
				<ion-card *ngIf="pageActive == 4">
					<h1 class="ion-text-center"><b>Common Area Facilities</b></h1>
					<ion-item lines="none">
						<ion-label style="font-size: 1.4em" class="ion-text-wrap">
							Select all the facilities that your property has to offer 
						</ion-label>
					</ion-item>
					<ion-list>
						<ion-item lines="none">
				            <ion-label>Wi-Fi</ion-label>
				            <ion-checkbox [(ngModel)]="property.wifi" slot="start"></ion-checkbox>
				        </ion-item>
				        <ion-item lines="none">
				            <ion-label>Electricity included in rent</ion-label>
				            <ion-checkbox [(ngModel)]="property.electricity_inclusive_in_rent" slot="start"></ion-checkbox>
				        </ion-item>
				        <ion-item lines="none">
				            <ion-label>Laundry Facilities</ion-label>
				            <ion-checkbox slot="start" [(ngModel)]="property.laundry" ></ion-checkbox>
				        </ion-item>
				        <ion-item lines="none">
				            <ion-label>TV-Room</ion-label>
				            <ion-checkbox slot="start" [(ngModel)]="property.tv_room">
				            </ion-checkbox>
				        </ion-item>
				        <ion-item lines="none">
				            <ion-label>Swimming Pool</ion-label>
				            <ion-checkbox slot="start" [(ngModel)]="property.pool" ></ion-checkbox>
				        </ion-item>
				        <ion-item lines="none">
				            <ion-label>Gym</ion-label>
				            <ion-checkbox slot="start"  [(ngModel)]="property.gym"></ion-checkbox>
				        </ion-item>
				        <ion-item lines="none">
				            <ion-label>Security</ion-label>
				            <ion-checkbox slot="start" [(ngModel)]="property.security">
				            </ion-checkbox>
				        </ion-item>
				        <ion-item lines="none">
				            <ion-label>Parking</ion-label>
				            <ion-checkbox slot="start" [(ngModel)]="property.parking">
				            </ion-checkbox>
				        </ion-item>
				        <ion-grid>
				        	<ion-row>
				        		<ion-col>
							        <ion-item color="light" lines="none">
							            <ion-label position="stacked">Others</ion-label>
							            <ion-textarea [(ngModel)]="property.other_amenities">
							            </ion-textarea>
							        </ion-item>
							    </ion-col>
							</ion-row>
						</ion-grid>
					</ion-list>
					<div class="ion-text-center" style="margin-top: 50px; margin-bottom: 50px;">
						<ion-button (click)="prevPage()">Back</ion-button>
						<ion-button (click)="nextPage()">Next</ion-button>
					</div>
				</ion-card>
				<ion-card *ngIf="pageActive == 5">
					<ion-card-content>
						<h1 class="ion-text-center"><b>Pictures</b></h1>
						<ion-item lines="none">
							<ion-label style="font-size: 1.4em" class="ion-text-wrap">
								Upload pictures for each type of room in your property 
							</ion-label>
						</ion-item>
						<ion-grid>
							<ion-row>
					            <ion-col>
					            	<ion-card color="light"  *ngIf="backroom.pictures.length == 0">
					            		<ion-card-content>
						            		<div class="ion-text-center">
						            			<ion-icon class="my-icon" name="images-outline"></ion-icon>
						            		</div>
		            						<ion-item lines="none" color="light" button (click)="selectBackroomPics()">
			                					<ion-label>
			                						<h1 class="ion-text-wrap ion-text-center">
			                   						<b>Pictures Of Backroom</b>
			                						</h1>
						                    	</ion-label>
		             						</ion-item>
		             						
		             						<input type="file" hidden="hidden" #backroom_pics accept="image/*" (change)="updateBackroomPics($event)" multiple="true">
		             					</ion-card-content>
	             					</ion-card>
	             					<div *ngIf="backroom.pictures.length > 0">
	             						<h1>Backroom pictures</h1>
	             						<ion-button mode="ios" (click)="addMoreBackroomPics()">Add More</ion-button>
	             						<input type="file" hidden="hidden" #more_backroom_pics accept="image/*" (change)="updateMoreBackroomPics($event)" multiple="true">
		             					<ion-list>
		             						<ion-card *ngFor="let pic of backroom.pictures; let i = index">
		             							<ion-item>
										        	<ion-avatar slot="start">
										            	<img src="{{pic?.url}}" (load)="pic.url" [hidden]="!pic.url">

										            	<img src="../../../assets/imgs/genPlaceholder.png" [hidden]="pic.url" >
										          	</ion-avatar>
										          	<ion-label>
										            	<h3>{{pic?.name}}</h3>
										          	</ion-label>
										        </ion-item>
										        <ion-card-content>
										        	<ion-button mode="ios" color="danger" (click)="deleteBackroomPic(i)">
										        		delete
										        	</ion-button>
										        </ion-card-content>
									          	<ion-progress-bar value="{{pic?.progress}}">
									          	</ion-progress-bar>
									        </ion-card>
		             					</ion-list>
		             				</div>
					            </ion-col>
					            <ion-col>
					            	<ion-card color="light">
					            		<ion-card-content>
						            		<div class="ion-text-center">
						            			<ion-icon class="my-icon" name="images-outline"></ion-icon>
						            		</div>
		            						<ion-item lines="none" color="light" button>
			                					<ion-label>
			                						<h1 class="ion-text-wrap ion-text-center">
			                   						<b>Single Room Pictures</b>
			                						</h1>
						                    	</ion-label>
		             						</ion-item>
		             					</ion-card-content>
	             					</ion-card>
					            </ion-col>
					        </ion-row>
					        <ion-row>
					            <ion-col>
					            	<ion-card color="light">
					            		<ion-card-content>
						            		<div class="ion-text-center">
						            			<ion-icon class="my-icon" name="images-outline"></ion-icon>
						            		</div>
		            						<ion-item lines="none" color="light" button>
			                					<ion-label>
			                						<h1 class="ion-text-wrap ion-text-center">
			                   						<b>2-Sharing Pictures</b>
			                						</h1>
						                    	</ion-label>
		             						</ion-item>
		             					</ion-card-content>
	             					</ion-card>
					            </ion-col>
					            <ion-col>
					            	<ion-card color="light">
					            		<ion-card-content>
						            		<div class="ion-text-center">
						            			<ion-icon class="my-icon" name="images-outline"></ion-icon>
						            		</div>
		            						<ion-item lines="none" color="light" button>
			                					<ion-label>
			                						<h1 class="ion-text-wrap ion-text-center">
			                   						<b>3-Sharing Pictures</b>
			                						</h1>
						                    	</ion-label>
		             						</ion-item>
		             					</ion-card-content>
	             					</ion-card>
					            </ion-col>
					        </ion-row>
					        <ion-row *ngIf="!propertyCaptured">
					            <ion-col>
					            	<ion-card color="light">
					            		<ion-card-content>
						            		<div class="ion-text-center">
						            			<ion-icon class="my-icon" name="images-outline"></ion-icon>
						            		</div>
		            						<ion-item lines="none" color="light" button>
			                					<ion-label>
			                						<h1 class="ion-text-wrap ion-text-center">
			                   						<b>Pictures Of Ensuite</b>
			                						</h1>
						                    	</ion-label>
		             						</ion-item>
		             					</ion-card-content>
	             					</ion-card>
					            </ion-col>
					            <ion-col>
					            	<ion-card color="light">
					            		<ion-card-content>
						            		<div class="ion-text-center">
						            			<ion-icon class="my-icon" name="images-outline"></ion-icon>
						            		</div>
		            						<ion-item lines="none" color="light" button>
			                					<ion-label>
			                						<h1 class="ion-text-wrap ion-text-center">
			                   						<b>Apartment Pictures</b>
			                						</h1>
						                    	</ion-label>
		             						</ion-item>
		             					</ion-card-content>
	             					</ion-card>
					            </ion-col>
					        </ion-row>
					        <ion-row>
					        	<ion-col>
					        		<ion-card color="light">
					        			<ion-card-content>
						            		<div class="ion-text-center">
						            			<ion-icon class="my-icon" name="images-outline"></ion-icon>
						            		</div>
		            						<ion-item lines="none" color="light" button>
			                					<ion-label>
			                						<h1 class="ion-text-wrap ion-text-center">
			                   						<b>Shared Areas</b>
			                						</h1>
						                    	</ion-label>
		             						</ion-item>
		             					</ion-card-content>
	             					</ion-card>
					        	</ion-col>
					        </ion-row>
						</ion-grid>
						<div *ngIf="pageActive == 5" class="ion-text-center">
							<ion-button (click)="prevPage()" style="margin-bottom: 30px;">
								Back
							</ion-button>
							<ion-button (click)="saveAndUpload()" style="margin-bottom: 30px;" *ngIf="!uploadingProperty">
								Save & Upload <ion-icon slot="end" name="paper-plane-outline"></ion-icon>
							</ion-button>
						</div>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col size-xs="0" size-md="3">
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
