<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Clickinn</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
	<ion-grid>
		<ion-row>
			<ion-col size-xs="0" size-sm="1" size-md="2" size-lg="3">
			</ion-col>
			<ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6">
				
					<ion-card>
				  		<ion-item>
				    		<ion-avatar slot="start">
				      			<img src="../../../assets/imgs/logo.png"/>
				    		</ion-avatar>
				    		<ion-text>
				    			<h4>Thapelo Seema</h4>
				    		</ion-text>
				  		</ion-item>
				  		<ion-card-content>
				  			<ion-item lines="none">
				  				<ion-label class="ion-text-wrap">
				  					<ion-icon style="font-size: 2em" color="tertiary" slot="start" name="home-outline">
				  					</ion-icon>
				  					<ion-text> Looking For a <b>Single Room</b></ion-text>
				  				</ion-label>
				  			</ion-item>
				  			<ion-item lines="none">
				  				<ion-label class="ion-text-wrap">
				  					<ion-icon style="font-size: 2em" color="danger" name="location-outline"></ion-icon>
				  					<ion-text> Around <b>UJ Kingsway</b></ion-text>
				  				</ion-label>
				  			</ion-item>
				  			<ion-item>
				  				<ion-label class="ion-text-wrap">
				  					<ion-icon style="font-size: 2em" color="warning" slot="start" name="pricetag-outline">
				  					</ion-icon>
				  					<ion-text> Willing To Pay <b>R3000</b></ion-text>
				  				</ion-label>
				  			</ion-item>
				  			<ion-text class="ion-text-center ion-margin-vertical" color="tertiary">
				    			<h2>Requirements</h2>
				    		</ion-text>
			    			<ion-chip>
							  <ion-icon name="wifi-outline"></ion-icon>
							  <ion-label>Wi-Fi</ion-label>
							</ion-chip>
							<ion-chip>
							  <ion-label>Furnished</ion-label>
							</ion-chip>
							<ion-chip>
							  <ion-icon name="car-sport-outline"></ion-icon>
							  <ion-label>Parking</ion-label>
							</ion-chip>
							<ion-chip>
							  <ion-label>Laundry Facilities</ion-label>
							</ion-chip>
					    	<ion-item></ion-item>
					    	<ion-grid>
					    		<ion-row>
					    			<ion-col size="8">
					    				<ion-button>
					    					<ion-icon class="my-icons" slot="icon-only" name="logo-whatsapp"></ion-icon>
					    				</ion-button>
					    				<ion-button>
					    					<ion-icon class="my-icons" slot="icon-only" name="call-outline"></ion-icon>
					    				</ion-button>
					    			</ion-col>
					    			<ion-col size="4">
					    				<ion-text>
					    					20 mins ago
					    				</ion-text>
					    			</ion-col>
					    		</ion-row>
					    	</ion-grid>
				  		</ion-card-content>
				  	</ion-card>
				
				<ion-infinite-scroll>
					<ion-infinite-scroll-content>
					</ion-infinite-scroll-content>
				</ion-infinite-scroll>
			</ion-col>
			<ion-col size-xs="0" size-sm="1" size-md="2" size-lg="3">
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
  	<ion-grid>
  		<ion-row>
  			<ion-col size-xs="0" size-sm="1" size-md="3" size-lg="4">
  			</ion-col>
  			<ion-col size-xs="12" size-sm="10" size-md="6" size-lg="4">
			  	<ion-grid>
			      <ion-row>
			        <ion-col size="4">
			          <ion-button fill="clear" (click)="gotoHome()" >
			            <ion-icon slot="icon-only" name="home-outline"></ion-icon>
			          </ion-button>
			        </ion-col>
			        <ion-col size="4">
			          <ion-button fill="clear" (click)="locationFilter()">
			            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
			          </ion-button>
			        </ion-col>
			        <ion-col size="4">
			          <ion-button fill="clear" (click)="filters()">
			            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
			          </ion-button>
			        </ion-col>
			      </ion-row>
			    </ion-grid>
			</ion-col>
			<ion-col size-xs="0" size-sm="1" size-md="3" size-lg="4">
			</ion-col>
		</ion-row>
	</ion-grid>
  </ion-toolbar>
</ion-footer>