<ion-header>
  <ion-toolbar>
    <ion-title>Clickinn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="content-bg" style="height: 100%">
		<ion-row>
			<ion-col size-xs="0" size-md="2" size-lg="3">
			</ion-col>
			<ion-col size-xs="12" size-md="8" size-lg="6">
				<div class="ion-text-center">
					<!--<img src="{{user?.photoURL}}" style="height: 6em">-->
					<ion-text color="tertiary">
						<h2><b>Business Dash</b></h2>
					</ion-text>
				</div>
				<ion-chip (click)="gotoProfile()">
				  <ion-icon name="person-circle-outline"></ion-icon>
				  <ion-label>{{user?.displayName}}</ion-label>
				</ion-chip>
				<ion-chip color="tertiary">
				  <ion-label>Notifications</ion-label>
				</ion-chip>
				<ion-list style="background: transparent;">
					<ion-item button color="secondary" class="ion-padding" lines="none" (click)="gotoSearchFeed()">
						<ion-label>
							<ion-text class="label-text"><h2><b>SEE RELEVANT SEARCHES</b></h2></ion-text>
						</ion-label>
						<ion-icon class="my-icon" slot="end" name="search-outline"></ion-icon>
					</ion-item>
					<ion-item button color="primary" class="ion-padding" lines="none" (click)="gotoUploadListing()">
						<ion-label>
							<ion-text class="label-text"><h2><b>UPLOAD A PROPERTY ADVERTS</b></h2></ion-text>
						</ion-label>
						<ion-icon class="my-icon" slot="end" name="cloud-upload-outline"></ion-icon>
					</ion-item>
					<ion-item button color="tertiary" class="ion-padding" lines="none" (click)="gotoListings()">
						<ion-label>
							<ion-text class="label-text"><h2><b>MY ROOM ADVERTS</b></h2></ion-text>
						</ion-label>
						<ion-icon class="my-icon" slot="end" name="list-outline"></ion-icon>
					</ion-item>
					<ion-item button color="success" class="ion-padding" lines="none" (click)="gotoLeases()">
						<ion-label>
							<ion-text class="label-text"><h2><b>LEASE AGREEMENTS</b></h2></ion-text>
						</ion-label>
						<ion-icon class="my-icon" slot="end" name="reader-outline"></ion-icon>
					</ion-item>
					<ion-item button color="warning" class="ion-padding" lines="none" (click)="gotoTracking()">
						<ion-label>
							<ion-text class="label-text"><h2><b>PLACEMENT TRACKING</b></h2></ion-text>
						</ion-label>
						<ion-icon class="my-icon" slot="end" name="trending-up-outline"></ion-icon>
					</ion-item>
					<ion-item button color="dark" class="ion-padding" lines="none" (click)="gotoRentTracking()">
						<ion-label>
							<ion-text class="label-text"><h2><b>RENT TRACKING</b></h2></ion-text>
						</ion-label>
						<ion-icon class="my-icon" slot="end" name="card-outline"></ion-icon>
					</ion-item>
				</ion-list>
			</ion-col>
			<ion-col size-xs="0" size-md="2" size-lg="3">
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
