
.my-label {
  font-size: 1.2em;
}

ion-item {
  border-radius: 4px;
  white-space: normal !important;
}

.my-icon{
  font-size: 4em;
}

.my-icons{
  font-size: 1.5em;
}



.alert-radio-label.sc-ion-alert-md {
  white-space: normal !important;
}