<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="0" size-md="3" size-lg="4">
      </ion-col>
      <ion-col size-xs="12" size-md="6" size-lg="4">
        <div class="raisedbox">
          <div class="ion-text-center">
            <img src="../../../assets/imgs/logo.png" style="height: 6em">
            <ion-text>
              <h1>Welcome Back !</h1>
            </ion-text>
          </div>
          <ion-item lines="none" color="light" class="ion-padding">
            <ion-label class="my-label" position="stacked" >
              <ion-icon name="mail" slot="start" ></ion-icon> Email
            </ion-label>
              <ion-input type="text" [(ngModel)]="email" ></ion-input>
          </ion-item>
          <ion-item lines="none" color="light" class="ion-padding">
            <ion-label class="my-label" position="stacked">
              <ion-icon name="lock-open-outline" slot="start" ></ion-icon>
              Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" ></ion-input>
          </ion-item>
          <div class="ion-text-right" style="margin-top: 20px;">
            <ion-button fill="clear">Forgot password</ion-button>
          </div>
          <div class="ion-text-center" style="margin-top: 20px;">
            <ion-button expand="block" (click)="signInWithEmailAndPassWord()">Sign In</ion-button>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-button expand="block" mode="ios">
                  <ion-icon slot="icon-only" name="logo-facebook" (click)="signInWithFacebook()"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button expand="block" mode="ios" color="secondary" (click)="signInWithTwitter()">
                  <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button expand="block" mode="ios" color="danger" (click)="signInWithGoogle()">
                  <ion-icon slot="icon-only" name="logo-google"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
      <ion-col size-xs="0" size-md="3" size-lg="4">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
    

