<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Clickinn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="content-bg">
		<ion-row>
			<ion-col size-xs="0" size-md="3" size-lg="4">
			</ion-col>
			<ion-col size-xs="12" size-md="6" size-lg="4">
				<ion-item lines="none">
				    <ion-label>Upload A Whole Building</ion-label>
				    <ion-toggle color="danger" [(ngModel)]="uploadingProperty"></ion-toggle>
				</ion-item>
				<ion-card *ngIf="propertyCaptured && (propertyCaptured != addRoom)">
					<ion-slides loop="false" pager="true" [options]="slideOptsOne" #slideWithNav2
		          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav2)">
		          <ion-slide style="height: 100%" *ngFor="let s of sliderOne.slidesItems">
		            <ion-card class="slide-img">
	          			<img src="../../assets/imgs/SA_Landlords.jpg" 
	          			style="max-height: 200px; position: relative; 
	          			top: 0; left: 50%; transform: translateX(-50%);" />
	          			<ion-card-header>
	            				<ion-card-subtitle>Single room, R3000</ion-card-subtitle>
	          			</ion-card-header>
	          			<ion-card-content>
	            			<ion-button (click)="addPropertyRoom()" >
								<ion-icon slot="icon-only" name="brush-outline"></ion-icon>
							</ion-button>
	          			</ion-card-content>
        			</ion-card>
		          </ion-slide>
		        </ion-slides>
          			<ion-card-header>
            				<ion-card-subtitle>33 St Swithins</ion-card-subtitle>
            				<ion-card-title>Melville, Jhb</ion-card-title>
          			</ion-card-header>
          			<ion-card-content>
            			<ion-button (click)="addPropertyRoom()" >
							Add Room <ion-icon slot="end" name="add-circle-outline"></ion-icon>
						</ion-button>
						<ion-button (click)="editProperty()" >
							Edit <ion-icon slot="end" name="brush-outline"></ion-icon>
						</ion-button>	
          			</ion-card-content>
        		</ion-card>
				<ion-chip color="warning" *ngIf="agentMode">
				  <ion-icon name="person-circle-outline"></ion-icon>
				  <ion-label>Agent Mode</ion-label>
				</ion-chip>
				
				<ion-card *ngIf="!uploadingProperty && (propertyCaptured == addRoom)">
					<ion-card-header>
						<ion-icon class="my-icon" name="home-outline"></ion-icon>
						<ion-card-title>
							Room Details
						</ion-card-title>
					</ion-card-header>
					<ion-item>
						<ion-label position="stacked" color="tertiary">
							Room Type
						</ion-label>
					    <ion-select okText="Okay" cancelText="Dismiss">
					    	<ion-select-option value="backroom">Backroom</ion-select-option>
					      	<ion-select-option value="single">Single Room</ion-select-option>
					      	<ion-select-option value="ensuite">Ensuite</ion-select-option>
					      	<ion-select-option value="cottage">Cottage</ion-select-option>
					      	<ion-select-option value="bachelor">Bachelor Pad</ion-select-option>
					      	<ion-select-option value="sharing">Sharing Room</ion-select-option>
					    </ion-select>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" color="tertiary">
							<ion-text>Furnished</ion-text>
						</ion-label>
					    <ion-select okText="Okay" cancelText="Dismiss">
					      <ion-select-option value="yes">Yes</ion-select-option>
					      <ion-select-option value="no">No</ion-select-option>
					    </ion-select>
					</ion-item>
					<ion-item>
			            <ion-label position="stacked" color="tertiary">
			            	Description
			            </ion-label>
			            <ion-textarea></ion-textarea>
			        </ion-item>
				</ion-card>
				<ion-card *ngIf="!propertyCaptured">
					<ion-card-header>
						<ion-icon color="danger" class="my-icon" name="location-outline"></ion-icon>
						<ion-card-title>
							Location
						</ion-card-title>
					</ion-card-header>
					<ion-item>
						<ion-label position="stacked" color="tertiary">
							Province
						</ion-label>
					    <ion-select okText="Okay" cancelText="Dismiss">
					      <ion-select-option value="GP">GP</ion-select-option>
					      <ion-select-option value="KZN">KZN</ion-select-option>
					      <ion-select-option value="L">L</ion-select-option>
					      <ion-select-option value="MP">MP</ion-select-option>
					      <ion-select-option value="NW">NW</ion-select-option>
					      <ion-select-option value="WC">WC</ion-select-option>
					      <ion-select-option value="EC">EC</ion-select-option>
					      <ion-select-option value="NC">NC</ion-select-option>
					      <ion-select-option value="FS">FS</ion-select-option>
					    </ion-select>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" color="tertiary">
							City
						</ion-label>
					    <ion-select okText="Okay" cancelText="Dismiss">
					      <ion-select-option value="single">Tshwane</ion-select-option>
					      <ion-select-option value="ensuite">Johannesburg</ion-select-option>
					      <ion-select-option value="bachelor">Akasia</ion-select-option>
					      <ion-select-option value="sharing">Alberton</ion-select-option>
					      <ion-select-option value="sharing">Bedfordview</ion-select-option>
					      <ion-select-option value="sharing">Benoni</ion-select-option>
					      <ion-select-option value="sharing">Boksburg</ion-select-option>
					      <ion-select-option value="sharing">Brakpan</ion-select-option>
					      <ion-select-option value="sharing">Bronkhorspruit</ion-select-option>
					      <ion-select-option value="cottage">Carletonville</ion-select-option>
					      <ion-select-option value="sharing">Centurion</ion-select-option>
					    </ion-select>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" color="tertiary">
							Neighbourhood
						</ion-label>
					    <ion-select okText="Okay" cancelText="Dismiss">
					      <ion-select-option value="single">Auckland Park</ion-select-option>
					      <ion-select-option value="ensuite">Melville</ion-select-option>
					      <ion-select-option value="bachelor">Brixton</ion-select-option>
					      <ion-select-option value="sharing">Westdene</ion-select-option>
					      <ion-select-option value="sharing">Hursthill</ion-select-option>
					      <ion-select-option value="sharing">Rosmoore</ion-select-option>
					      <ion-select-option value="sharing">Cottesloe</ion-select-option>
					    </ion-select>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" color="tertiary">
							Street and number
						</ion-label>
						<ion-input type="text" placeholder="e.g. 73 Caroline"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" color="tertiary">
							<ion-icon class="my-icon" slot="start" name="walk-outline"></ion-icon>
							Nearby Places (5 min walk)
						</ion-label>
					    <ion-select multiple="true" okText="Okay" cancelText="Dismiss">
					      <ion-select-option value="single">UJ Kingsway</ion-select-option>
					      <ion-select-option value="ensuite">UJ Bunting</ion-select-option>
					      <ion-select-option value="bachelor">Campus Square</ion-select-option>
					      <ion-select-option value="sharing">MacDonalds Melvile</ion-select-option>
					      <ion-select-option value="sharing">Brixton Mall</ion-select-option>
					      <ion-select-option value="sharing">Shosholoza</ion-select-option>
					      <ion-select-option value="sharing">Clickinn HQ</ion-select-option>
					    </ion-select>
					</ion-item>
				</ion-card>
				<ion-card *ngIf="(propertyCaptured == addRoom)">
					<ion-card-header>
						<ion-icon color="primary" class="my-icon" name="journal-outline"></ion-icon>
						<ion-card-title>
							Payments
						</ion-card-title>
					</ion-card-header>
					<ion-item lines="none">
			            <ion-label>NSFAS ACREDITED</ion-label>
			            <ion-checkbox slot="start"></ion-checkbox>
			        </ion-item>
					<ion-item *ngIf="!uploadingProperty">
						<ion-label position="stacked" color="tertiary">
							<ion-text> Monthly Rent</ion-text>
						</ion-label>
					  	<ion-input type="number" ></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" color="tertiary">
							<ion-text>Requires Deposit</ion-text>
						</ion-label>
					    <ion-select okText="Okay" cancelText="Dismiss">
					      <ion-select-option value="yes">Yes</ion-select-option>
					      <ion-select-option value="no">No</ion-select-option>
					    </ion-select>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" color="tertiary">
							<ion-text>Deposit Refundable</ion-text>
						</ion-label>
					    <ion-select okText="Okay" cancelText="Dismiss">
					      <ion-select-option value="yes">Yes</ion-select-option>
					      <ion-select-option value="no">No</ion-select-option>
					    </ion-select>
					</ion-item>
					<ion-item *ngIf="!uploadingProperty">
						<ion-label position="stacked" color="tertiary">
							<ion-text>Deposit Amount</ion-text>
						</ion-label>
					  	<ion-input type="number" ></ion-input>
					</ion-item>
					<ion-item *ngIf="!uploadingProperty">
						<ion-label position="stacked" color="tertiary">
							<ion-text>Amount Refundable</ion-text>
						</ion-label>
					  	<ion-input type="number" ></ion-input>
					</ion-item>
				</ion-card>
				<ion-card *ngIf="!propertyCaptured && (propertyCaptured == addRoom)">
					<ion-card-header>
						<ion-icon color="warning" class="my-icon" name="list-outline"></ion-icon>
						<ion-card-title>
							Amenities
						</ion-card-title>
					</ion-card-header>
					<ion-list>
						<ion-item lines="none">
				            <ion-label>Wi-Fi</ion-label>
				            <ion-checkbox slot="start"></ion-checkbox>
				        </ion-item>
				        <ion-item lines="none">
				            <ion-label>Laundry Facilities</ion-label>
				            <ion-checkbox slot="start"></ion-checkbox>
				        </ion-item>
				        <ion-item lines="none">
				            <ion-label>Parking</ion-label>
				            <ion-checkbox slot="start"></ion-checkbox>
				        </ion-item>
					</ion-list>
				</ion-card>
				<ion-card *ngIf="propertyCaptured == addRoom">
					<ion-card-header>
						<ion-icon color="tertiary" class="my-icon" name="images-outline"></ion-icon>
						<ion-card-title>
							Pictures
						</ion-card-title>
					</ion-card-header>
					<ion-grid>
						<ion-row *ngIf="!uploadingProperty">
				            <ion-col>
				            	<ion-button expand="block" color="light" mode="ios">
				            		<ion-icon slot="start" name="image-outline">
				            		</ion-icon>
				            		<ion-label> Image 1</ion-label>
				            	</ion-button>
				            </ion-col>
				            <ion-col>
				            	<ion-button expand="block" color="light" mode="ios">
				            		<ion-icon slot="start" name="image-outline">
				            		</ion-icon>
				            		<ion-label> Image 2</ion-label>
				            	</ion-button>
				            </ion-col>
				        </ion-row>
				        <ion-row>
				            <ion-col *ngIf="!uploadingProperty">
				            	<ion-button expand="block" color="light" mode="ios">
				            		<ion-icon slot="start" name="image-outline">
				            		</ion-icon>
				            		<ion-label> Image 3</ion-label>
				            	</ion-button>
				            </ion-col>
				            <ion-col *ngIf="!propertyCaptured">
				            	<ion-button expand="block" color="light" mode="ios">
				            		<ion-icon slot="start" name="image-outline">
				            		</ion-icon>
				            		<ion-label> Bathroom</ion-label>
				            	</ion-button>
				            </ion-col>
				        </ion-row>
				        <ion-row *ngIf="!propertyCaptured">
				            <ion-col>
				            	<ion-button expand="block" color="light" mode="ios">
				            		<ion-icon slot="start" name="image-outline">
				            		</ion-icon>
				            		<ion-label> Kitchen</ion-label>
				            	</ion-button>
				            </ion-col>
				            <ion-col>
				            	<ion-button expand="block" color="light" mode="ios">
				            		<ion-icon slot="start" name="image-outline">
				            		</ion-icon>
				            		<ion-label> Lounge</ion-label>
				            	</ion-button>
				            </ion-col>
				        </ion-row>
					</ion-grid>
				</ion-card>
				<div *ngIf="propertyCaptured == addRoom" class="ion-text-center">
					<ion-button (click)="saveAndUpload()" style="margin-bottom: 30px;" *ngIf="!uploadingProperty">
						Save & Upload <ion-icon slot="end" name="paper-plane-outline"></ion-icon>
					</ion-button>
					<ion-button (click)="uploadProperty()" style="margin-bottom: 30px;" *ngIf="uploadingProperty">
						Upload Property <ion-icon slot="end" name="paper-plane-outline"></ion-icon>
					</ion-button>
				</div>
			</ion-col>
			<ion-col size-xs="0" size-md="3" size-lg="4">
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
