.content-bg{
  background-color: #fff;
  background: url('../../assets/imgs/bg.jpg') no-repeat;
  background-size: cover;
}

.my-label {
  font-size: 1.2em;
}

ion-item {
  border-radius: 4px;
}

.my-icon{
  font-size: 4em;
}

.my-icons{
  font-size: 1.5em;
}